/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
html{
    height: -webkit-fill-available;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    height: -webkit-fill-available;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courgette&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/

/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*
*{
    border: 1px solid chartreuse;
}

/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
#head{
    height: 100vh;
    width: 100%;
    background-image: url("images_novios/h1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
#head_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
table, tr, td{
    border-collapse: collapse;
}
#head_table{
    width: 30vw;
    background-color: rgba(256, 256, 256, 0.5);
    border-radius: 2rem;
}
.r_border{
    border-right: 2px solid #262626;
    height: 10rem;
}
.nam{
    width: 50%;
    text-align: center;
    color: #262626;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7rem;
    font-weight: bolder;
}
.date_h{
    text-align: center;
    color: #262626;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.inv_h{
    text-align: center;
    color: #262626;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    padding-bottom: 1rem;
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
#couple{
    height: 100vh;
    /*width: 100vw;*/
    /*background-image: url("images_novios/h1.jpeg");*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
@media (max-width: 1000px){
    #head_table{
        width: 40vw;
    }
}

@media (max-width: 800px){
    #head_table{
        width: 50vw;
    }
}

@media (max-width: 570px){
    #head_table{
        width: 90vw;
    }
    #head{
        height: 100vh;
        /*width: 100vw*/;
        background-image: url("images_novios/v2.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inv_h{
        font-size: 1.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/


